{% assign skills = site.data.data.skills %}
{% assign skillstexts = site.data.data.skillstexts %}

<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    Skills
  </h2>
{% if skills %}
  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
  {% endif %}
  
  {% for skillstext in skillstexts %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="skilltext-title">{{ skillstext.title }}:</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if skillstext.details %}
    <div class="details">
      {{ skillstext.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}


</section><!--//skills-section-->

